* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    display: inline-block;
    margin-top: 10px;
    border: 2px solid crimson;
    padding: 10px 30px;
    transition: all .5s ease;
    transition-duration: .7s;
}
.cta:hover {
    background-color: crimson;
    transform: scale(1.2);
    border-radius: 10px;
}

.section-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 6px;
    font-size: 3.5rem;
    font-weight: lighter;
}

.section-title span {
    color: crimson;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

p {
    color: black;
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-top: 5px;
    letter-spacing: 0.05rem;
    font-weight: 300;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Header Section */
#header {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: all 0.3s ease ;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

.nav-list ul {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color:  rgb(31, 30, 30);
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 100%;  /*100%*/
    top: 0;
    overflow-x: hidden;
    transition: 0.5s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

.nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

.nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 11rem;
    letter-spacing: 60px;
    z-index: -1;
    transition: 0.3s ease;
    transition-property: letter-spacing;
}

.nav-list ul li:hover a {
    color: crimson;
}

.nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

.hamburger {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 20px;
}

.hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_plus 1s ease infinite;
}

.hamburger .bar {
    display: block;
    position: absolute;
    border: 1px solid white;
    width: 30px;
    height: 5%;
    background-color: white;
    position: relative;
    z-index: -1;
}

.hamburger .bar::after,
.hamburger .bar::before {
    position: absolute;
    content: '';
    border: 1px solid white;
    width: 100%;
    height: 100%;
    left: -1px;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom, transform;
}

.hamburger .bar::after {
    top: 8px;
}

.hamburger .bar::before {
    bottom: 8px;
}

.hamburger.active .bar {
    border: 1px solid rgba(240, 248, 255, 0.021);
    background-color: rgba(240, 248, 255, 0.021);
    
}

.hamburger.active .bar::before {
    top: 0px;
    transform: rotateZ(45deg);
}

.hamburger.active .bar::after {
    top: 0px;
    transform: rotateZ(135deg);
}
/* End Header Section */
/* Hero Section */
    #hero {
        background-image: url(../../Proje1/img/hero-bg.png);
        background-size: cover;
        background-position: top center;
        position: relative;
        z-index: 1;
    }

    #hero::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.6;
        z-index: -1;
    }

     #hero .hero {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        justify-content: flex-start;
     }

     #hero h1 {
        font-size: 4rem;
        color: transparent;
        display: block;
        width: fit-content;
        position: relative;
        animation: text_reveal .5s ease forwards;
        animation-delay: 1s;  
        font-weight: bold;     
     }

     #hero h1:nth-child(3) {
        animation: text_reveal_h3 .5s ease forwards;
     }

     #hero h1:nth-child(1) {
        animation-delay: 1.4s;
     }
     #hero h1:nth-child(2) {
        animation-delay: 2.4s;
     }
     #hero h1:nth-child(3) {
        animation-delay: 3.4s;
     }

     #hero h1 span {
        width: 0;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: crimson;
        animation: text_reveal_box 1s ease;
        animation-delay: .5s;
     }

     #hero h1:nth-child(1) span {
        animation-delay: 1s;
     }
     #hero h1:nth-child(2) span {
        animation-delay: 2s;
     }
     #hero h1:nth-child(3) span {
        animation-delay: 3s;
     }
/* End Hero Section */

/* Services Section */
    #services .services {
        flex-direction: column;
        max-width: 1500px;
        margin: 0 auto;
        padding: 100px 0;
        text-align: center;
    }

    #services .services-top {
        max-width: 500px;
        margin: 0 auto;
        text-align: left;
    }

    #services .services-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 50px;
    }

    .services-item {
        flex-basis: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
        background-image: url(../../Proje1/img/img-1.png);
        background-size: cover;
        margin: 10px 5%;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .services .services-item::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        opacity: 0.9;
        z-index: -1;
    }

    .services-bottom .logo {
        width: 80px;
        height: 80px;
        margin-bottom: 20px;
    }

    .services-bottom h2 {
        color: white;
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 10px;
    }
    .services-bottom p {
        text-align: left;
        color: white;
        font-weight: 500;
        font-size: 1.5rem;
    }
/* End Services Section */

/* Project Section */
    #project .project {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;
        padding: 100px auto;
    }

    .project-header {
        margin-bottom: 50px;
    }

    .project-all {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 20px auto;
        overflow: hidden;
        border-radius: 10px;
    }

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 30px;
        height: 100%;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        color: white;
    }

    .project-info h1 {
        font-size: 4rem;
        font-weight: 500;
        margin-bottom: 14px;
    }

    .project-info h2 {
        font-weight: 200;
        font-size: 2rem;
    }

    .project-info p {
        color: white;
    }

    #project .project-img {
        flex-basis: 50%;
        height: 300px;
        overflow: hidden;
        position: relative;
    }

    #project .project-img::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
        opacity: 0.6;
    }

    #project .project-img img {
        transition: all 0.3s ease;
    }

    #project .project-item:hover .project-img img {
        transform: scale(1.2);
    }
/* End Project Section */

/* About Section */
#about .about {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    margin: 0px auto;
    padding: 100px 20px;
}

.col-left {
    width: 250px;
    height: 360px;
}

.col-right {
    width: 100%;
}

.col-right h2 {
    letter-spacing: 3px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.col-right p {
    margin-bottom: 20px;
}

.col-right .cta {
    color: black;
    margin-bottom: 50px;
    padding: 10px 20px;
    font-size: 2rem;
}

.col-left .about-img {
    width: 100%;
    height: 100%;
    position: relative;
    border: 10px solid white;
}

.col-left .about-img::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 98%;
    border: 7px solid crimson;
    z-index: -1;
    left: -33px;
    top: 18px;
    overflow: hidden;
}
/* End About Section */

/* Contact Section */
#contact .contact {
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;
    width: 90%;
}

.contact-items {
    width: 100%;
}

.contact-item .icon {
    width: 80px;
    height: 80px;
    text-align: center;
}
.contact-item {
    position: relative;
    left: 5%;
    width: 80%;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: all 0.3s ease;
}

.contact-info .chance-mail{
    text-align: left;
}

.contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}
/* End Contact Section */

/* Footer section */
#footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    flex-direction: column;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
}


#footer h2 {
    color: white;
    letter-spacing: 6px;
    font-weight: 200;
    margin: 10px auto;
}

.footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

.social-icon .social-item {
    width: 50px;
    height: 50px ;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 1.3rem;
    text-align: center;
    padding-bottom: 5px;
}
/* End Footer section */

/* Media Screen For Tablet */
@media only screen and (min-width: 768px) {
    .cta {
        font-size: 2.5rem;
        padding: 10px 60px;
    }

    .section-title {
        font-size: 6rem;
    }

    /* Hero */
    #hero h1 {
        font-size: 7rem;
    }
    /* End Hero */

    /* Services */
    #services .services-bottom {
        flex-direction: row;
    }
    #services .services-bottom .services-item {
        flex-basis: 45%;
        margin: 2.5%;
    }
    /* End Services */
    
    /* Project */
    #project .project-item {
        flex-direction: row;
    }

    #project .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }
    
    #project .project-item {
        height: 400px;
        margin: 0;
        width: 100%;
        border-radius: 0;
    }

    #project .all-project .project-info {
        width: 50%;
        height: 100%;
    }

    #project .all-project .project-img {
        width: 50%;
        height: 100%;
    }
    /* End Project */
    
    /* About */
    #about .about {
        flex-direction: row;
    }

    #about .col-left {
        width: 600px ;
        height: 400px;
        position: relative;
        padding: 0 60px;
        top: -20px;
    }

    #about .about .col-left .about-img::after {
        left: -40px;
        top: 10px;
        height: 98%;
        width: 98%;
        border: 10px solid crimson;
    }

    #about .col-right {
        text-align: left;
        padding: 30px;
    }

    #about .col-right h1 {
        text-align: center;
        width: 100%;
    }
    /* End About */ 
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vw;
    }

    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 0;
    }

    #contact .contact-item {
        display: flex;
        width: 45%;
        margin: 10px;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        left: 0;
    }

    #contact .contact-item .icon {
        height: 100px;
        width: 80px;
    }

    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 10px;
        display: block;
    }

    #contact .contact-item .icon img {
        object-fit:contain;
    }
}
/* End Media Screen For Tablet */

/* Media Screen For DEsktop */
@media only screen and (min-width:1200px) {
    /* Header */
    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
		font-size: 1.8rem;
	}

    #header .nav-list ul a::after {
        display: none;
    }
    /* End Header */

    
    #services .services-bottom .services-item {
        flex-basis: 22%;
        margin: 1.5%;
    }
}
/* End Media Screen For DEsktop */
/* Keyframes animation */
    @keyframes hamburger_plus {
        0% {
            opacity: 1;
            transform: scale(1.2);
        }
        
        100% {
            opacity: 0;
            transform: scale(1.5);
        }
    }

     @keyframes text_reveal {
        100% {
            color: white;
        }
     }

     @keyframes text_reveal_h3 {
        100% {
            color: crimson;
        }
     }

     @keyframes text_reveal_box {
        50% {
            width: 100%;
            left: 0;
        }

        100% {
            width: 0;
            left: 100%;
        }
      }
/* End Keyframes animation */