* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #edf1f4;
}

.dark {
  background-color: #282c2f;
}
.dark .calculator {
  background-color: #33393e;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.25),
  -15px -15px 20px rgba(255, 255, 255, 0.1);
}
.calculator {
  position: relative;
  width: 340px;
  padding: 20px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.1), -15px -15px 20px #fffb;
  border-radius: 20px;
}

.calculator .buttons {
  position: relative;
  display: grid;
}

.calculator .buttons #value {
  position: relative;
  grid-column: span 4;
  user-select: none;
  overflow: hidden;
  width: 100%;
  text-align: end;
  line-height: 100px;
  color: #5166d6;
  height: 100px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
  inset -5px -5px 10px #fff;
  border-radius: 10px;
  padding-right: 20px;
  margin-bottom: 12px;
  font-size: 2em;
  font-weight: 500;
}
.dark .calculator .buttons #value {
  background-color: #33393e;
  color: #fff;
  box-shadow: inset 15px 15px 20px rgba(0, 0, 0, 0.25),
  inset -15px -15px 20px rgba(255, 255, 255, 0.1);
}
.calculator .buttons span {
  position: relative;
  padding: 10px;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1),
   -5px -5px 10px #fff0;
  margin: 9px;
  min-width: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  color: #666;
  border: 2px solid #edf1f4;
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.1),
   -5px -5px 10px #fff;
  border-radius: 10px;
}
.dark .calculator .buttons span{
 color: #eee;
 border: 2px solid #333;
 box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
  inset -5px -5px 10px rgba(255, 255, 255, 0.1);
}

.calculator .buttons span:active:not(#clear,#plus,#equal) {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1),
  inset -5px -5px 10px #fff;
  color: #f44336;
}
.dark .calculator .buttons span:active:not(#clear,#plus,#equal) {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.25),
  inset -5px -5px 10px rgba(255, 255, 255, 0.1);
}
.dark .calculator .buttons span#clear, 
.dark .calculator .buttons span#plus, 
.dark .calculator .buttons span#equal {
  border: 2px solid #33393e;
} 

.calculator .buttons #clear {
  grid-column: span 2;
  background-color: #f44336;
  color: #fff;
  border: 2px solid #edf1f4;
}
.calculator .buttons #plus {
  grid-row: span 2;
  background-color: #31a935;
  color: #fff;
  border: 2px solid #edf1f4;
}
.calculator .buttons #equal {
  grid-row: span 2;
  background-color: #2196f4;
  color: #fff;
  border: 2px solid #edf1f4;
}

.toggleBtn {
  position: fixed;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 40px;
  background-color: #555;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1),
  -5px -5px 10px #fff;
  border: 2px solid #edf1f4;
}

.dark .toggleBtn {
  background-color: #eee;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25),
  -5px -5px 10px rgba(255, 255, 255, 0.25);
}