* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8cccff;
  height: 100vh;
}

.box {
  position: relative;
  width: 300px;
}

.box .inputBox {
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
}

.box .inputBox input {
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  padding: 10px 5px;
}

.box .inputBox #toggleBtn {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  right: 8px;
  top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.box .inputBox #toggleBtn .closeEye,
.box .inputBox #toggleBtn.hide .openEye
{
  display: none;
}

.box .inputBox #toggleBtn.hide .closeEye {
  display: inline-block;
}

.validation {
  background-color: #376488;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 9px;
  margin-top: 15px;
}

.validation ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.validation ul li {
  position: relative; 
  color: #fff;
  list-style-type: none;
  font-size: 0.85rem;
  font-weight: 200;
}

.validation ul li::before {
  content: '\f192';
  width: 20px;
  transform: translateY(1px);
  height: 10px;
  font-family: fontAwesome;
  display: inline-flex;
}

.validation ul li.valid::before {
  content: '\f00c';
  width: 20px;
  transform: translateY(1px);
  color: green;
  height: 10px;
  font-family: fontAwesome;
  display: inline-flex;
}