
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

span {
  color: crimson;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  color: black;
  font-size: 1.4rem;
  line-height: 2.5rem;
  margin-top: 5px;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

.cta {
  color: white;
  border: 2px solid crimson;
  padding: 10px 30px;
  background-color: transparent;
  font-size: 2rem;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
  transition: all .5s ease;
  transition-duration: .7s;
}
.cta:hover {
  background-color: crimson;
  border-radius: 10px;
  transform: scale(1.2);
}

.section-title {
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  font-weight: lighter;
  text-align: center;
}

.section-title span {
  color: crimson;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Header Section */
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1000;
    height: auto;
  }

  #header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: all 0.3s ease;
  }

  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 25px;
  }

  .nav-list ul {
    list-style: none;
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(31, 30, 30);
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    left: 100%; /*! 100%*/
    top: 0;
    overflow-x: hidden;
    transition: 0.5s ease left;
  }

  .nav-list ul.active {
    left: 0;
  }

  .nav-list ul li a {
    color: #fff;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    padding: 20px;
  }

  .nav-list ul li a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0); /*!0*/
    color: rgba(240, 248, 255, 0.021);
    font-size: 11rem;
    letter-spacing: 60px;
    z-index: -1;
    transition: 0.5s ease;
    transition-property: letter-spacing;
  }

  .nav-list ul li:hover a {
    color: crimson;
  }

  .nav-list ul li:hover a::after {
    transform: translate(-50%,-50%) scale(1);
    letter-spacing: initial;
  }

  .hamburger {
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: scale(.8);
    margin-right: 10px;
  }

  .hamburger::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_plus 1s ease infinite;
  }

  .hamburger .bar {
    display: block;
    position: absolute;
    border: 1px solid white;
    width: 30px;
    height: 5%;
    background-color: #fff;
    position: relative;
    z-index: -1;
  }

  .hamburger .bar::after,
  .hamburger .bar::before {
    position: absolute;
    content: '';
    border: 1px solid white;
    width: 100%;
    height: 100%;
    left: -1px;
    background-color: #fff;
    transition: .3s ease;
    transition-property: top, bottom, transform;
  }

  .hamburger .bar::after {
    top: 8px;
  }
  
  .hamburger .bar::before {
    bottom: 8px;
  }

  .hamburger.active .bar {
    border: 1px solid rgba(240, 248, 255, 0.021);
    background-color: rgba(240, 248, 255, 0.021);
  }

  .hamburger.active .bar::after {
    top: 0px;
    transform: rotateZ(45deg);
  }
  
  .hamburger.active .bar::before {
    top: 0px;
    transform: rotateZ(135deg);
  }
/* End Header Section */

/* Hero Section */
#hero {
  background-image: url(../../Projeler/Proje1/img/hero-bg.png);
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.6;
  z-index: -1;
}

#hero .hero {
  max-width: 1200px;
  padding: 0 50px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

#hero .hero h1 {
  font-size: 4rem;
  display: block;
  width: fit-content;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
  font-weight: bold;
}

#hero .hero h1:nth-child(3) {
  animation: text_reveal_h3 .5s ease forwards;
}

#hero .hero h1:nth-child(1) {
  animation-delay: 1.4s;
}
#hero .hero h1:nth-child(2) {
  animation-delay: 2.4s;
}
#hero .hero h1:nth-child(3) {
  animation-delay: 3.4s;
}


#hero .hero h1 span {
  position: absolute;
  width: 0;
  height: 100%;
  background-color: crimson;
  top: 0;
  left: 0;
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}

#hero .hero h1:nth-child(1) span  {
  animation-delay: 1s;
}
#hero .hero h1:nth-child(2) span {
  animation-delay: 2s;
}
#hero .hero h1:nth-child(3) span {
  animation-delay: 3s;
}
/*! End Hero Section */

/*? Services Section */
#services .services {
  max-width: 1500px;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#services .services-top {
  max-width: 500px;
  text-align: left;
}

#services .services-bottom {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
  flex-wrap: wrap;
  position: relative;
}

#services .services-item {
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../../Projeler/Proje1/img/img-1.png);
  background-size: cover;
  padding: 30px;
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.services .services-item::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}

#services .services-item .logo {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

#services .services-item h2 {
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.5px;
  font-size: 2rem;
  margin-bottom: 10px;
}

#services .services-item p {
  color: #fff;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}
/*? EndServices Section */

/*! Project Services  */
  #project .project {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
  }

  .project-header {
    margin-bottom: 50px;
  }

  .all-project {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
  }

  .project-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: #fff; 
    padding: 30px;
    height: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  }

  .project-info h1{
    font-size: 4rem;
    font-weight: 500;
    margin-bottom: 14px;
  }

  .project-info h2 {
    font-size: 2rem;
    font-weight: 200;
  }
  
  .project-info p {
    color: #fff;
  }

  .project-img {
    position: relative;
    flex-basis: 45%;
    overflow: hidden;
    height: 300px;
  }

  .project-img::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    opacity: 0.6;
  }

  .project-img img{
    transition: all 0.3s ease;
  }

  .project-item:hover .project-img img{
    transform: scale(1.2);
  }

/*! End Project Services  */

/*? About Section */
  #about .about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
  }

  .col-left {
    width: 250px;
    height: 340px;
  }

  .col-right {
    width: 100%;
  }

  .col-right h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 600;
  }

  .col-right p {
    margin-bottom: 20px;
  }

.col-right .cta {
  box-sizing: border-box;
  color: #000;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.col-left .about-img {
  width: 100%;
  height: 100%;
  position: relative;
  border: 10px solid white;
}

.col-left .about-img::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 98%;
  border: 7px solid crimson;
  z-index: -1;
  left: -39px;
  top: 18px;
  overflow: hidden;
}
/*? End About Section */

/* ? Contact Section */
    
  .contact {
    width: 90%;
    max-width: 1300px;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px 5%;
  }

  .contact-items {
    width: 100%;
  }

  .contact-item .icon {
    width: 80px;
    height: 80px;
    text-align: center;
  }

  .contact-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 75px 0 #0000002c;
  }

  .contact-item:nth-child(2) h2 {
    text-align: left;
  }
/* ? End Contact Section */

/* ! Footer Section */
  #footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  }
  #footer .footer {
    flex-direction: column;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .footer h2 {
    margin: 10px auto;
    color: #fff;
    letter-spacing: 6px;
    font-weight: 200;
  }

  .footer .social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
  }

  .social-icon .social-item {
    width: 50px;
    height: 50px;
  }

  #footer .social-item img {
    filter: grayscale(0);
}

  .footer p {
    color: white;
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding-bottom: 5px;
  }
/* ! End Footer Section */

/*? Media Screen For Tablet and Desktop */
  @media only screen and (min-width: 780px) {
    .cta {
      font-size: 2.5rem;
      padding: 10px 60px;
    }

    .section-title {
      font-size: 6rem;
    }

    /* Hero */
    #hero .hero h1 {
      font-size: 7rem;
    }
    /* End Hero */

    /* Services */ 
    #services .services .services-bottom {
      flex-direction: row;
      gap: 4.5%;
    }

    #services .services-bottom .services-item {
      flex-basis: 45%;
    }
    /* End Services */

    /* Projects */
    #project .project-item {
      flex-direction: row;
  }

  #project .project-item:nth-child(even) {
      flex-direction: row-reverse;
  }
  
  #project .project-item {
      height: 400px;
      margin: 0;
      width: 100%;
      border-radius: 0;
  }

  #project .all-project .project-info {
      width: 50%;
      height: 100%;
  }

  #project .all-project .project-img {
      flex-basis: 50%;
      height: 100%;
  }
    /* End Projects */

    /* About section */
  #about .about {
    flex-direction: row;
    padding: 0 20px;
  }

  #about .about .col-left {
    width: 600px;
    height: 400px;
    position: relative;
    padding: 0 60px;
    top: -20px;
  }

  #about .about .col-left .about-img::after {
    left: -40px;
    top: 10px;
    height: 98%;
    width: 98%;
    border: 10px solid crimson;
  }

  #about .col-right {
    text-align: left;
    padding: 10px;
  } 
  #about .col-right h2 {
    text-align: left;
  }
    /* End About section */

    /* Contact info */
    #contact .contact {
      flex-direction: column;
      padding: 100px 0; 
      align-items: center;
      justify-content: center;
      min-width: 20vw;
    }

    #contact .contact-items {
      width: 100%; 
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    #contact .contact-item {
      display: flex;
      flex-direction: row;
      width: 45%;
      margin: 10px;
      justify-content: space-around;
      position: relative;
      left: 0;
    }

    #contact .contact-item .icon {
      height: 100px;
      margin: 5px;
      width: 80px;
  }

  #contact .contact-item .contact-info {
    width: 70%;
    display: block;
  }

  #contact .contact-item .icon img {
    object-fit:contain;
  }
    /* End Contact info */
}

@media only screen and (min-width: 1200px) {
  #header .hamburger {
    display: none;
  }
  
  #header .nav-list ul {
    position: initial;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    height: auto;
    width: fit-content;
  }

  #header .nav-list ul li a {
    font-size: 1.8rem;
  }

  #header .nav-list ul li a::after {
    display: none;
  }

  #services .services .services-bottom  {
    gap: 2.1%;
  }

  #services .services-bottom .services-item {
    flex-basis: 22%;
  }
} 
/*? End Media Screen For Tablet and Desktop */
/* Keyframes animation */
@keyframes text_reveal {
  100% {
    color: white;
  }
}

@keyframes text_reveal_h3 {
  100% {
    color: crimson;
  }
}

@keyframes text_reveal_box {
  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes hamburger_plus {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }

  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}

