* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    font-family: sans-serif;
    background-image: url("https://source.unsplash.com/random/1920x1080/?landscape");
    font-size: 120%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #000000d0;
    color: #FFF;
    padding: 2rem;
    border-radius: 30px;
    width: 100%;
    max-width: 520px;
    margin: 1rem;
}

.card .search {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.search input {
    border: none;
    outline: none;
    padding-left: 1rem;
    border-radius: 18px;
    width: 90%;
    background-color: #7c7c7c2b;
    color: #FFF;

}

.search button {
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 18px;
    outline: none;
    border: none;
    background-color: #7c7c7c2b;
    color: #FFF;
    cursor: pointer;
    transition: .4s ease;


    display: flex;
    align-items: center;
    justify-content: center;
}

.search button:hover {
    background: #7c7c7c6b;
}

.card .weather {
    font-size: 22px;
}
.card .weather h2{
    display: block;
    font-size: 2.4rem;
    margin: 1rem 0;
}